<!DOCTYPE html> 
<html> 
<head> 
  <meta charset="utf-8"> 
  <title>Example App</title> 
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/grantstyle.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" /> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/textbox.js"></script>


  <script>
  	if (!String.prototype.format) {
	  String.prototype.format = function() {
	    var args = arguments;
	    return this.replace(/{(\d+)}/g, function(match, number) { 
	      return typeof args[number] != 'undefined'
	        ? args[number]
	        : match
	      ;
	    });
	  };
	}
  </script>
</head> 
  <body> 
  	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    			<span class="sr-only">Toggle navigation</span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
  			</button>
  			<a class="navbar-brand" href="#">
  				<img style="max-width:100px; margin-top:-15px;"
  				src="img/dog-icon.png" />
  			</a>
  			<ul class="nav navbar-nav navbar-right">
				<li><a style="margin-left:55vh;font-size=200%;" href="#">HeavyPetting</a></li>
			</ul>
		</div>
		
	</div>
</nav>

	<div id="demo"><h1>Text</h1></div>
	<script src="http://localhost:8081/socket.io/socket.io.js"></script>
	<script> 
		
		var animal_data = null;

		function render_page(animal_data) {
		    //document.getElementById("body").innerHTML = makeCellList(animal_data);
		}

		function update_page(animal_data) {
			for (i=0; i < animal_data.length; i++){
				makeVideoCell(animal_data[i], i);
			}
			return 
		}

		var socket = io.connect("localhost:8081");
		socket.on("death_stuff", function(death_stuff) {
			if (!animal_data) {
				update_page(death_stuff.animal_data);
				var animal_data = death_stuff.animal_data;
				render_page(animal_data);
			} else {
				if (death_stuff.animal_data != animal_data) {
					update_page(death_stuff.animal_data);
					var animal_data = death_stuff.animal_data;
				}	
			}
		});


		function set_time(death_time,animal_id){
			var date = new Date(null);
			n = Math.floor(Date.now()/1000);
			diff = death_time - n;
			q = date.setSeconds(diff);
			var result = date.toISOString().substr(11, 8);
			document.getElementById("time"+animal_id).innerHTML = result;
		}


		function makeVideoCell(animal, animal_id) {
			var gif_id = animal.video_url;
			var x = document.getElementById('tester'+animal_id).getAttribute("name");
			var name = animal.animal_name;
			document.getElementById("name"+animal_id).innerHTML = name;
			var death_time = animal.death_time;
			set_time(death_time,animal_id);
			if (x != name) {
				document.getElementById('framer'+animal_id).innerHTML = '<iframe src="//giphy.com/embed/' + gif_id + '" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>';

				document.getElementById('tester'+animal_id).setAttribute("name", name);

			}
		}


	</script> 










<div id="video_frame0" class="col-md-6">	
	<span id="tester0"></span>
	<span id="framer0"></span>
	<h2 class="name"><span id="name0"></span></h2>
	<h2 class="clock"><span id="time0"></span></h2>
	<h2 class="money"><span>$ <input type="text" name="dollars0" id="dollars0" value=" "> = <input type="text" name="minutes0" id="minutes0" value=" "> Minutes</span><button type="button" id="button0" class="btn btn-danger" style="margin-left:5%;">Donate</button></h2>
</div>	

<div id="video_frame1" class="col-md-6">
	<span id="tester1"></span>	
	<span id="framer1"></span>
	<h2 class="name"><span id="name1"></span></h2>
	<h2 class="clock"><span id="time1"></span></h2>
	<h2 class="money"><span>$ <input type="text" name="dollars1" id="dollars1" value=" "> = <input type="text" name="minutes1" id="minutes1" value=" "> Minutes</span><button type="button" id="button1" class="btn btn-danger" style="margin-left:5%;">Donate</button></h2>
</div>	


<div id="video_frame2" class="col-md-6">
	<span id="tester2"></span>	
	<span id="framer2"></span>
	<h2 class="name"><span id="name2"></span></h2>
	<h2 class="clock"><span id="time2"></span></h2>
	<h2 class="money"><span>$ <input type="text" name="dollars2" id="dollars2" value=" "> = <input type="text" name="minutes2" id="minutes2" value=" "> Minutes</span><button type="button" id="button2" class="btn btn-danger" style="margin-left:5%;">Donate</button></h2>
</div>	

<div id="video_frame3" class="col-md-6">	
	<span id="tester3"></span>
	<span id="framer3"></span>
	<h2 class="name"><span id="name3"></span></h2>
	<h2 class="clock"><span id="time3"></span></h2>
	<h2 class="money"><span>$ <input type="text" name="dollars3" id="dollars3" value=" "> = <input type="text" name="minutes3" id="minutes3" value=" "> Minutes</span><button type="button" id="button3" class="btn btn-danger" style="margin-left:5%;">Donate</button></h2>
</div>	

<div id="video_frame4" class="col-md-6">
	<span id="tester4"></span>	
	<span id="framer4"></span>
	<h2 class="name"><span id="name4"></span></h2>
	<h2 class="clock"><span id="time4"></span></h2>
	<h2 class="money"><span>$ <input type="text" name="dollars4" id="dollars4" value=" "> = <input type="text" name="minutes4" id="minutes4" value=" "> Minutes</span><button type="button" id="button4" class="btn btn-danger" style="margin-left:5%;">Donate</button></h2>
</div>	

<div id="video_frame5" class="col-md-6">
	<span id="tester5"></span>	
	<span id="framer5"></span>
	<h2 class="name"><span id="name5"></span></h2>
	<h2 class="clock" ><span id="time5"></span></h2>
	<h2 class="money"><span>$ <input type="text" name="dollars5" id="dollars5" value=" "> = <input type="text" name="minutes5" id="minutes5" value=" "> Minutes</span><button type="button" id="button5" class="btn btn-danger" style="margin-left:5%;">Donate</button></h2>
</div>	





    {{{body}}}
  </body>
</html>