<!DOCTYPE html> 
<html> 
<head> 
  <meta charset="utf-8"> 
  <title>Example App</title> 
  <link rel="stylesheet" type="text/css" href="css/style.css" /> 
  <script>
  	if (!String.prototype.format) {
	  String.prototype.format = function() {
	    var args = arguments;
	    return this.replace(/{(\d+)}/g, function(match, number) { 
	      return typeof args[number] != 'undefined'
	        ? args[number]
	        : match
	      ;
	    });
	  };
	}
  </script>
</head> 
  <body> 
	<script src="http://localhost:8081/socket.io/socket.io.js"></script>
	<script async src="https://www.youtube.com/iframe_api"></script>
	<script> 

		var animal_data = null;

		function render_page(animal_data) {
		    document.getElementById("body").innerHTML = makeCellList(animal_data);
		    muteVideos()
		}

		function update_page(animal_data) {
			return 
		}

		var socket = io.connect("localhost:8081");
		socket.on("death_stuff", function(death_stuff) { 
			if (!animal_data) {
				animal_data = death_stuff.animal_data
				render_page(animal_data)
				muteVideos(animal_data)
			} else {
				update_page(death_stuff.animal_data);
			}
		});

		function muteVideos(animal_data) {
			for (i in animal_data) {
				animal = animal_data[i]
				document.getElementById("video{0}".format(animal.id)).mute();
			}
		}

		function makeCellList(animals) {
			video_divs = animals.map((animal) => 
				'<div class="noclick">{0}</div></div>'.format(makeVideoCell(animal))
			)

			let video_html = '<div class="animal_cells">'
			for (i in video_divs) {
				video_html += video_divs[i];
			}
			video_html += '</div>'
			return video_html
		}


		function makeVideoCell(animal) {
			return '<iframe id='{0}' src="//giphy.com/embed/{1}" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>'.format(animal.id, animal.video_id)
		}
	</script> 
    {{{body}}}
  </body>
</html>